name: Sync to Gitea

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Full clone to avoid shallow update issues

      - name: Push to Gitea
        env:
          GITEA_PAT: ${{ secrets.GITEA_PAT }}
        run: |
          git remote add gitea https://MagicDippyEgg:${GITEA_PAT}@gitea.com/MagicDippyEgg/MEMEPEDIA-CONTENT.git
          git push --mirror gitea
